Flask==2.2.3
flask_sqlalchemy==3.0.3
imbalanced_learn==0.10.0
imblearn==0.0
numpy==1.24.4
pandas==2.0.0
plotly==5.14.1
pyreadstat==1.2.8
scikit_learn==1.2.2
scipy==1.10.1
shap==0.42.0
SQLAlchemy==2.0.9
xgboost==1.6.1
Werkzeug==2.2.2
mysqlclient==2.1.1
